*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    
}
header{         

   padding: 15px;
}

nav{
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 10px;
    box-shadow: 0px 7px 9px rgb(0, 0, 0, 0.349);
  
}
nav > h1{
    font: normal 16pt Arial;
    color: #ffffff;
    padding: 10px;
    transition-duration: 1s;

   
}
nav > h1:hover{
    background-color: rgba(240, 36, 36, 0.315)
}
a:link{
    text-decoration: none;
}
body{
    background-image: url(img/pink-20967.jpg);

  
}

main{
    margin: 20px;
    font: normal 16pt Arial;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
         
}

#principal{
    margin-top: 20px;
    background-image: url(img/fundo.jpg);
    opacity: 0.95;
    border-radius: 10px;   

}
#maria{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#textomaria{
    margin-top: 50px;
    color: rgb(0, 0, 0);
}
#mariaimagem img{
    margin-left: 20px;
    margin-top: 20px;
    max-width: 300px;
    max-height: 250px;
    
}
#levi{
    margin-top: 60px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    
}
#leviimagem img{    
    max-width: 350px;
    max-height: 300px;
}
#textolevi{
    margin-left: 60px;
}

#casal{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#casalimagem{
    max-width: 350px;
    max-height: 300px;
}

footer{
    color: rgb(144, 43, 226);
    text-align: center;
    font-style: italic;
}